<form novalidate="" name="eventForm" ng-submit="scope.save(eventForm)">
  <div class="modal-header">
    <h3 class="modal-title">{{scope.event.id ? 'Update' : 'Create'}} Event</h3>
  </div>
  <div class="modal-body">
    <form-field ng-model="scope.event.name" name="name" form="eventForm" label="Name" placeholder="Type event name here" required="true"></form-field>
    <form-field type="number" ng-model="scope.event.price" name="price" form="eventForm" label="Price" placeholder="Type event price here" required="true" min="0"></form-field>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="scope.cancel()">Cancel</button>
    <button class="btn btn-success" type="submit">{{scope.event.id ? 'Update' : 'Create'}}</button>
  </div>
</form>
