<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in scope.events track by event.id">
      <td>{{event.name}}</td>
      <td>{{event.price}}</td>
      <td>{{event.date | date:'medium'}}</td>
    </tr>
  </tbody>
</table>

<form ng-submit="scope.saveEvent()">
  <div class="form-group">
    <label for="event-name">Name</label>
    <input type="text" class="form-control" id="event-name" placeholder="Type event name here" ng-model="scope.event.name">
  </div>
  <div class="form-group">
    <label for="event-price">Price</label>
    <input type="number" class="form-control" id="event-price" placeholder="Type event price here" ng-model="scope.event.price">
  </div>

  <button type="submit" class="btn btn-default">Create</button>
</form>
